* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  height: 470px;
  width: 500px;
  border: solid 2px black;
  display: flex;
  flex-direction: row;
  justify-self: center;
}
.gameContainer__gameGrid {
  height: 390px;
  width: 220px;
  margin: 40px 10px 40px 40px;
  border: solid 2px black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(18, 1fr);
}
.gameContainer__scoreGrid {
  height: 390px;
  width: 180px;
  margin: 40px 40px 40px 10px;
  border: solid 2px black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 35% 25% 15%;
}
.gameContainer__scoreGrid-item {
  border: solid 2px black;
}

#newPiece {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty {
  height: 20px;
  width: 20px;
  background-color: aqua;
}

.squareShape {
  height: 20px;
  width: 20px;
  background-color: red;
}