.empty {
  height: 20px;
  width: 20px;
  background-color: aqua;
}

.squareShape {
  height: 20px;
  width: 20px;
  background-color: red;
}

.lineShape {
  height: 20px;
  width: 20px;
  background-color: orange;
}

.elShape {
  height: 20px;
  width: 20px;
  background-color: green;
}

.arShape {
  height: 20px;
  width: 20px;
  background-color: blue;
}

.tShape {
  height: 20px;
  width: 20px;
  background-color: pink;
}

.sShape {
  height: 20px;
  width: 20px;
  background-color: yellow;
}

.zShape {
  height: 20px;
  width: 20px;
  background-color: purple;
}

.staging {
  height: 20px;
  width: 20px;
  background-color: magenta;
}